/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #322a2e transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #322a2e;
    border-radius: 10px;
}

body {
    background-color: black;
    color: white;
}

.text_primary {
    color: orange
}

.my-btn {
    border: 2px solid orange;
}

.my-btn:hover {
    background-color: orange;
    transform: scale(1.05);
}

.video-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
}

.section {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 90vh;
}

.content {
    position: fixed;
    top: 120px;
    left: -180px;
    right: 70px;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.section.in-page .content {
    left: 120px;
    opacity: 1;
}

.brand-link {
    color: white;
    transition: all 0.5s linear;
}

.brand-link:hover {
    color: orange;
    transform: scale(1.05);
}

.btn {
    transition: all 0.5s linear;
    border-radius: 0px;
}

.test-shadowed {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.welcome::before {
    content: "";
    background-color: orange;
    padding: 2px 4px;
    margin-right: 10px;
}

.slider-btn {
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    top: 50%;
    transition: all 0.5s;
}
.slider-btn:hover {
    transform: scale(2);
    color: orange;
}
.prev {
    left: 20px;
}
.next {
    right: 20px;
}
.carousel {
    height: 60vh;
}
.carousel img {
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .profile-img{
        max-width: 200px;
    }
    .section.in-page .content {
        left: 70px;
    }
}
